# Ignore Maven build files
target/
**/target/

# Ignore IDE-specific files
.idea/
*.iml
.project
.classpath
.settings/

# Ignore compiled classes
**/*.class

# Ignore logs
*.log

# Ignore dependency files (if any)
**/dependency-reduced-pom.xml

# Ignore other temporary files
**/*~
**/*.bak
**/*.swp